<li class="list-group-item">
    {{name}}

    {{#if devour}}
    {{else}}
    <button type="button" class="eat-burger btn btn-primary btn-sm" data-id="{{this.id}}"
        data-neweaten="{{devour}}">Devour!</button>
    {{/if}}
    {{!-- {{#if devour}}
    {{else}}
    <button type="button" class="eat-burger btn btn-primary btn-sm" data-id="{{id}}"
        data-neweaten="{{devour}}">Devour!</button>
    {{/if}} --}}

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>